{% include 'hard_podaci/base.html' %}

{% if ESN %}

{% else %}

{% endif %}


<div class="container">
  <div class="main-container">
                <section>
                    <center><p1>Šta je Marketing Arena?</p1></center>
                         <hr class="style1">
                    <div class="img">
                   <img src="http://images.otwojob.com/profile/573f16bd682d3.png" style="height:20%; width:160px;; opacity:1"/>
                        </div>
   <p2>Bacon ipsum dolor amet leberkas meatloaf kielbasa picanha jerky, beef corned beef pork chop ham pork kevin spare ribs landjaeger meatball. 
                    Tri-tip capicola picanha tenderloin filet mignon pork turkey jerky leberkas drumstick sausage pork belly burgdoggen. Sirloin 
                    capicola andouille rump meatball picanha frankfurter tenderloin pig tri-tip venison. Cow tri-tip pig biltong, ham tongue bacon 
                    venison corned beef. Salami drumstick ham hock filet mignon, capicola spare ribs turkey brisket fatback beef ribs ball tip flank 
                    short ribs andouille. <br /><br /> Cupim turkey sirloin, turducken beef tenderloin prosciutto ground round capicola bresaola chuck short ribs.
Chicken turducken porchetta tri-tip, chuck burgdoggen short ribs biltong corned beef ground round shank. Tenderloin pork flank short ribs meatloaf 
                    meatball cupim. Tenderloin doner tri-tip turducken. Andouille pancetta bacon chicken sirloin meatloaf picanha kevin shankle venison.
                     Rump turducken burgdoggen jowl fatback sausage boudin landjaeger.<br /><br />
Strip steak prosciutto capicola flank turkey burgdoggen ground round beef ribs pancetta chuck. Short loin jowl venison landjaeger sirloin chicken frankfurter 
                    bresaola hamburger pastrami bacon capicola. Pancetta pork frankfurter, picanha landjaeger strip steak prosciutto chuck. T-bone salami tongue
                     fatback chuck capicola burgdoggen cow frankfurter turducken bacon kevin beef pork chicken. Brisket kielbasa turkey short loin beef ribs capicola 
                    beef pancetta tongue ham tail drumstick chuck rump. Tail meatloaf cupim andouille. Andouille chuck bresaola pork loin doner, turkey pork belly 
                    prosciutto. <br /><br /> </p2>
                     <div class="img1">
                   <img  src="http://cdn.dezzain.com/1/2015/04/digital-marketing-best-practices-for-2015.jpg" style="height:16%; width:160px; opacity:1; float:right"/>
                        </div>
                    <p2>Prosciutto shank picanha cupim venison rump ham landjaeger. Brisket venison frankfurter jerky t-bone. Landjaeger kevin rump capicola doner 
                    short ribs, biltong porchetta jerky pastrami flank. Ground round bacon pastrami, rump prosciutto flank alcatra meatball picanha hamburger beef 
                    ribs tenderloin cow pork tail. Venison shank chicken pork belly.
Filet mignon meatball prosciutto turkey brisket corned beef ball tip, short loin short ribs. <br /><br />Meatloaf alcatra jerky ribeye fatback pork t-bone. Strip steak drumstick
                     hamburger, flank meatloaf short ribs ham brisket pancetta boudin venison. Pastrami cow capicola kevin drumstick sausage pork belly leberkas pig 
                    biltong ham. Strip steak shoulder beef ribs jowl. Sausage boudin bacon beef ribs tri-tip pancetta. Pancetta spare ribs salami t-bone pastrami.
Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!Oh God, my uncle. <br /><br /> How am I ever gonna explain this? What?! In my
                     experience, there is no such thing as luck. Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've 
                    never seen anything to make me believe there's one all.<br /><br />
        </p2>
                    <div class="img">
                     <img  src="http://www.darwill.com/wp-content/uploads/2015/09/People-not-SEO-1200x818.jpg" style="height:20%; width:160px; opacity:1; float:left"/>
                        </div>     
                          <p2>Prosciutto shank picanha cupim venison rump ham landjaeger. Brisket venison frankfurter jerky t-bone. Landjaeger kevin rump capicola doner 
                    short ribs, biltong porchetta jerky pastrami flank. Ground round bacon pastrami, rump prosciutto flank alcatra meatball picanha hamburger beef 
                    ribs tenderloin cow pork tail. Venison shank chicken pork belly.<br /><br />
Filet mignon meatball prosciutto turkey brisket corned beef ball tip, short loin short ribs. Meatloaf alcatra jerky ribeye fatback pork t-bone. Strip steak drumstick
                     hamburger, flank meatloaf short ribs ham brisket pancetta boudin venison. Pastrami cow capicola kevin drumstick sausage pork belly leberkas pig 
                    biltong ham. Strip steak shoulder beef ribs jowl. Sausage boudin bacon beef ribs tri-tip pancetta. Pancetta spare ribs salami t-bone pastrami.
Does your lorem ipsum text long for something a little meatier? <br /><br /> Give our generator a try… it’s tasty!Oh God, my uncle. How am I ever gonna explain this? What?! In my
                     experience, there is no such thing as luck. Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've 
                    never seen anything to make me believe there's one all-powerful.<br /><br />
                     
        </p2>
                    <div class="img1">
                   <img src="https://s-media-cache-ak0.pinimg.com/originals/40/67/36/406736eb9a5773ea0f37086ff130a636.jpg" class"img-responsive col-sm-1" style="height:20%; width:160px; opacity:1; float:right"/>
                        </div>
                              <p2>Prosciutto shank picanha cupim venison rump ham landjaeger. Brisket venison frankfurter jerky t-bone. Landjaeger kevin rump capicola doner 
                    short ribs, biltong porchetta jerky pastrami flank. Ground round bacon pastrami, rump prosciutto flank alcatra meatball picanha hamburger beef 
                    ribs tenderloin cow pork tail. Venison shank chicken pork belly.<br /><br />
Filet mignon meatball prosciutto turkey brisket corned beef ball tip, short loin short ribs. Meatloaf alcatra jerky ribeye fatback pork t-bone. Strip steak drumstick
                     hamburger, flank meatloaf short ribs ham brisket pancetta boudin venison. Pastrami cow capicola kevin drumstick sausage pork belly leberkas pig 
                    biltong ham. Strip steak shoulder beef ribs jowl. Sausage boudin bacon beef ribs tri-tip pancetta. <br /><br /> Pancetta spare ribs salami t-bone pastrami.
Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!Oh God, my uncle. How am I ever gonna explain this? What?! In my
                     experience, there is no such thing as luck. Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've 
                    never seen anything to make me believe there's one all-powerful Force controlling everything. <br /><br /> Pancetta spare ribs salami t-bone pastrami.
Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!Oh God, my uncle. How am I ever gonna explain this? What?! In my
                     experience, there is no such thing as luck. Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've 
                    never seen anything to make me believe there's one all-powerful Force controlling everything.<br /><br />
        </p2>
                </section>
    </div>
</div>

 <style>

          body{
    background: grey url("../../static/hard_podaci/images/15.jpg");
    background-size: cover;  
     background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    width: 100%; 
}


  div.container p2 {
  color:#c7ad88; 
  margin-right:42px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:justify;
 font-size:16px;
}
div.container p1 {
  font-weight: bold;
  color: #935347;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:30px;
  vertical-align:top;
  margin-top:10px;
  text-align:center;  
}
.main-container {
  background: black;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  position: relative;
  border-radius:9px 9px 9px 9px;
  -moz-border-radius:9px 9px 9px 9px;
  -webkit-border-radius:9px 9px 9px 9px;
   margin-top:10px;
   padding-top:5px;
}
.main-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 60px;
  -webkit-backface-visibility: hidden;
}
section {
  margin: 10px auto;
  padding: 0 20px;
  padding-bottom: 10px;
  position: relative;
  max-width:inherit;
  color:red;
  opacity: 1;
  filter: alpha(opacity=100);
 text-align:justify;
 margin-right:30px;
 margin-left:30px;
}
  /* Za sliku */  
    div.main-container img {
    margin: 5px;  
    float: left;
    margin-bottom:15px;
    border-radius: 50%;
   
}
        div.main-container img1 {
    margin: 5px;  
    float:right;
    margin-bottom:15px;
    border-radius: 50%;
 
}
/* Za liniju */
hr.style1 { 
  height: 14px; 
  margin-top:1px;
  border-style: solid; 
  border-color: #c7ad88; 
  border-width: 3px 0 0 0; 
  border-radius: 20px; 
  width:100%;
  padding-bottom:1px;
} 

</style>
