{% include 'hard_podaci/base.html' %}


<!--
<div class="strike">

   <p><b>PRODAJ MI VIJEĆNICU</b></p>
   <span><b><i><font size="105" color="#C7AB72" face="Brush Script MT">Marketing Arena</font></i></b></span>
</div>
    
-->

<style>
   


.strike {
    display: block;
    overflow: hidden;
    text-align:center;
    right:60px;
    white-space: nowrap; 
     padding: 180px 0;
     color:#C7AB72;
     text-shadow: 2px 2px black;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.strike > span {
    position: relative;
    display: inline-block;
    text-align:center;
    margin-left:500px;
}
p {
    font-size: 500%;
}

.strike > span:before {
    content: "";
    position:absolute;
    top: 50%;
    width: 486px;
    height: 4px;
    background:#C7AB72;
    right: 100%;
    margin-right: 15px;
    text-align:center;
}

/*
div.strike p {
  margin: 5px;
  font-weight: bold;
  color: red;
}
div.strike span {
  margin: 5%;
  font-weight: bold;
  color: red;
  display: inline-block;
}

.strike {
    display: block;
    overflow: hidden;
    text-align:center;
    right:60px;
    white-space: nowrap; 
     padding: 160px 0;
     color:#D95757;
     text-shadow: 2px 2px black;
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.strike > span {
    position: relative;
    display: inline-block;
    text-align:center;
    margin-left:500px;
}
p {
    font-size: 500%;
}

.strike > span:before {
    content: "";
    position:absolute;
    display: inline-block;
    top: 50%;
    width: 486px;
    height: 4px;
    background:#D95757;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
    text-align:center;
}*/
</style>

<!-- I got these buttons from simplesharebuttons.com 

<div id="share-buttons">

    <!-- Facebook 

    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">

        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />

    </a>

         <!-- Print 

    <a href="javascript:;" onclick="window.print()">

        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />

    </a>
    <!-- Twitter 

    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">

        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />

    </a>

 
   
</div>

<style type="text/css">

#share-buttons img {

width: 55px;

padding: 5px;

border: 0;

box-shadow: 0;

display: inline;
 margin-left:355px;

}

</style> -->